extends layout

block content
	main.mb-5.px-3
		each prequal in prequals
			.card.mx-auto.my-4.shadow(style='max-width: 40rem;')
				.card-body.my-3.mx-3.position-relative
					h6.card-subtitle.text-muted.fs-6.fw-normal.text-center= prequal.getShortDate()
					h5.card-title.fs-2.fw-bold.mb-3.text-center= prequal.id
					p.card-text.text-start(style='font-size: 1.15rem;')= prequal.purchasePrice
					.text-center
						a.btn.btn-light.stretched-link(href=`/${prequal.id}`) Read more
		if nextPage 
			.mx-auto.my-5(style='max-width: 40rem;')
				.text-center
					a.btn.prequal-pagination-button(href=`/page/${nextPage}`) See more prequals &raquo;
		.mx-auto.my-5(style='max-width: 40rem;')
			.text-center
				a.btn.btn-primary(href=`/new`) Start prequal